<div class="logo">
  <img src="/assets/images/hamburger.png" alt="Logo">
</div>

<div class="title text-center">
  <h1>Eat-Da-Burger!</h1>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <form class="burger-input">
      <label for="ca" class="label">Enter a burger you want to eat. Then click the "Submit" button.</label>
      <div class="form-group">
        <input type="text" id="ca" name="burger_name">
      </div>
      <button type="submit" class="submit-btn">Submit</button><br>
    </form>
  </div>
</div>

<div class="row">

  <div class="col-sm-6 devour">
    <h2>Devour It!</h2>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="change-burger" data-id="{{id}}" data-newburger=true>DEVOUR IT</button>
        <button class="delete-burger" data-id="{{this.id}}">CANCEL ORDER!</button>
      </li>
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-5 done">

    <h2>Devoured!</h2>

    <ul class="p-0">
      {{#each burgers}}
      {{#if devoured}}
      <li>
        {{burger_name}}
        <button class="burger" data-id="{{id}}" data-burger=false disabled>DEVOURED</button>
      </li>
      {{/if}}
      {{/each}}
    </ul>

  </div>
</div>